{% extends 'layout.html'%}

{% block content %}
<div class="col-sm-5">
<div class='well' style="background-color: {{color}}">

	<h2>User: {{ user.name }} 
	<small style='color: red'>
		{% if everyDept  %}
		Belongs to All Deparments!
		{% endif %}
		{% if noDept  %}
		Belongs to No Deparments!
		{% endif %}
	</small>
	</h2>
	

	{% for dept in user.getDepartments() %}
		<li class='list-group-item'>{{dept.name}}
			<form method='post' action="/users/{{user.id}}/department/{{dept.id}}?_method=delete">
				<button class='btn btn-danger'>Remove</button>
			</form>
		</li>
	{% endfor %}
	{% for dept in deptsnobelong %}
		<li class='list-group-item'>{{dept.name}}
		<form method='post' action="/users/{{user.id}}/department/{{dept.id}}">
			<button class='btn btn-success' >Join</button>
		</form>
		</li>
	{% endfor %}

</div>
<form action="/" >
	<button>Return</button>
</form>
</div>


{% endblock %}