{% extends 'layout.html'%}

{% block content %}
<div class='well'>
	<h2>User: {{ user.name }} </h2>
	{% for dept in user.getDepartments() %}
		<li class='list-group-item'>{{dept.name}}
			<form>
				<button class='btn btn-danger'>Remove</button>
			</form>
		</li>
	{% endfor %}
	{% for dept in deptsnobelong %}
		<li class='list-group-item'>{{dept.name}}
		<form>
			<button class='btn btn-success' >Join</button>
		</form>
		</li>
	{% endfor %}

</div>
<form action="/seed/" >
	<button>Seed</button>
</form>


{% endblock %}